@using System.Net.Mime
@using System.Web.UI.WebControls
@model RoomCheck.User

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }

    <style>
        ::selection {
            background-color: #b5e2e7;
        }

        ::-moz-selection {
            background-color: #8ac7d8;
        }

        body {
            background: #3CC;
        }

        .container {
            display: -webkit-flex;
            display: flex;
            height: 100%;
        }

        #logbox {
            padding: 10px;
            margin: 50px auto;
            width: 340px;
            background-color: #fff;
            -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        }

        h1 {
            text-align: center;
            font-size: 175%;
            color: #757575;
            font-weight: 300;
        }

        h1, input {
            font-family: "Open Sans", Helvetica, sans-serif;
        }

        .input {
            width: 75%;
            height: 50px;
            display: block;
            margin: 0 auto 15px;
            padding: 0 15px;
            border: none;
            border-bottom: 2px solid #ebebeb;
        }

            .input:focus {
                outline: none;
                border-bottom-color: #3CC !important;
            }

            .input:hover {
                border-bottom-color: #dcdcdc;
            }

            .input:invalid {
                box-shadow: none;
            }

        .pass:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset;
        }

        .inputButton {
            position: relative;
            width: 85%;
            height: 50px;
            display: block;
            margin: 30px auto 30px;
            color: white;
            background-color: #3CC;
            border: none;
            -webkit-box-shadow: 0 5px 0 #2CADAD;
            -moz-box-shadow: 0 5px 0 #2CADAD;
            box-shadow: 0 5px 0 #2CADAD;
        }

            .inputButton:hover {
                top: 2px;
                -webkit-box-shadow: 0 3px 0 #2CADAD;
                -moz-box-shadow: 0 3px 0 #2CADAD;
                box-shadow: 0 3px 0 #2CADAD;
            }

            .inputButton:active {
                top: 5px;
                box-shadow: none;
            }

            .inputButton:focus {
                outline: none;
            }
    </style>


    <div class="container">
        <div class="col-md-6">
            <div id="logbox">
                @*<form id="signup" method="post" action="/Signup">*@
                    <h1>Sign Up</h1>
                    <input name="user[hotelID]" type="text" placeholder="Hotel ID" autofocus="autofocus" class="input pass" id="hotelid"/>
                    <input name="user[name]" type="text" placeholder="First name" autofocus="autofocus" class="input pass" id="firstname"/>
                    <input name="user[password]" type="password" placeholder="Choose a password" class="input pass" id="password"/>
                    <input name="user[password2]" type="password" placeholder="Confirm password" class="input pass"/>
                    <input name="user[email]" type="email" placeholder="Email address" class="input pass" id="email"/>
                    <button id="signUp" class="inputButton">Sign Up</button>
                @*</form>*@
            </div>
        </div>
        <!--col-md-6-->

        <div class="col-md-6">
            <div id="logbox">
                <form id="signup" method="post" action="/Login">
                    <h1>Sign In</h1>
                    <div>@Html.TextBoxFor(a => a.Email, new { @class = "input pass", @placeholder = "Email address" })</div>
                    <div>@Html.ValidationMessageFor(a => a.Email)</div>
                    <div>@Html.PasswordFor(a => a.Password, new { @class = "input pass", @placeholder = "Password" })</div>
                    <div>@Html.ValidationMessageFor(a => a.Password)</div>
                    <input type="submit" class="inputButton" value="Sign In"/>

                </form>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('footer').hide();
            $('#userinfo').hide();
        });

        $('#signUp')
            .click(function(e) {
                e.preventDefault();

                var requestData = {
                    email: $('#email').val(),
                    password: $('#password').val(),
                    firstName: $('#firstname').val(),
                    hotelId: $('#hotelid').val()
                };

                console.log(requestData);


                $.ajax({
                    url: '@Url.Action("Signup", "Home")',
                    type: 'POST',
                    data: JSON.stringify(requestData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);
                        console.log(xhr);
                    },
                    success: function (result) {
                        if (result.Success) { // this sets the value from the response
                            //redirect to other page
                            var url = '@Url.Action("Index", "Home")';
                            window.location.href = url;
                        } else {
                            alert(result.Result);
                        }
                    },
                    async: true,
                    processData: false
                });



            });



    </script>

}


